---
import PageLayout from '../../layouts/PageLayout.astro';
---

<PageLayout
  title="Interests - Ramy Ghorayeb"
  description="A Glimpse Into What I'm Curious About and Exploring Outside of Work."
>
  <div class="fade-in">
    <!-- Page Title -->
    <h1 class="text-4xl md:text-5xl font-bold mb-16">Interests</h1>

    <!-- Interests Navigation -->
    <section class="max-w-2xl">
      <div class="prose prose-lg max-w-none">
        <ul class="space-y-4 text-lg text-secondary">
          <li>
            <a href="/interests/donations" class="hover:underline text-link">Donations</a>
            <p class="mt-2 text-secondary">NGOs I support monthly</p>
          </li>
          <li>
            <a href="/interests/longevity" class="hover:underline text-link">Longevity and Agency</a>
            <p class="mt-2 text-secondary">Mind and body optimization</p>
          </li>
          <li>
            <a href="https://winter-arc.vercel.app/" class="hover:underline text-link">AI-based fitness app</a>
            <p class="mt-2 text-secondary">I built my own fitness app to train with</p>
          </li>
          <li>
            <a href="/interests/recommendations" class="hover:underline text-link">Recommendations</a>
            <p class="mt-2 text-secondary">books, music, movies and shows i recommend</p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</PageLayout>
