---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
  <div class="max-w-4xl mx-auto px-6 py-12">
    <slot />
  </div>
</BaseLayout>
